{% extends "base.html" %}
{% load static %}
{% block title %}{{post.title_tag}}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }}
     {{ post.author.last_name }} - 
     {{post.post_date}}  
     {% if user.is_authenticated %}
        - <a href="{% url 'update-post' post.pk %}">Edit</a>  - 
        <a href="{% url 'delete-post' post.pk %}">Delete</a>
        <form action="{% url 'like_post' post.pk %}" method="POST" >
            {% csrf_token %}
                <button type="submit" id="likeButton" onclick="likeFunction()" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
                {% comment %} <script>
                    function likeFunction() {
                        var btn = document.getElementById("likeButton");
                        if (btn.innerHTML === "Like") {
                            btn.innerHTML = "Unlike";
                        } else {
                            btn.innerHTML = "Like";
                        }
                    }
                    </script> {% endcomment %}
            - {{ post.likes.count }} likes
        </form>
        <br/>
        {% if post.header_image%}
            <img src="{{ post.header_image.url }}" />
        {% endif %}
        {{ post.body|safe }}

    {% else %}
    <h2>Please Login</h2>
    {% endif %}
</small><br/>
<hr>
<br/>
<a href={% url 'home' %} class="btn btn-secondary">back</a>
<br/><br/>
<hr>
<br/><br/>
<h2>Comments...</h2>
{% if not post.comments.all %}
        nameo comments yet.... <a href="{% url 'create-comment' post.pk %}" class="btn btn-secondary">Add one</a>
{% else %}
<a href="{% url 'create-comment' post.pk %}"> Add Comment </a><br><br>

    {% for comment in post.comments.all %}
    
        <strong>
            {{comment.name}} -- 
            {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}</br>

    {% endfor %}
{% endif %}
{% endblock %}